.base-login {
  font-family: 'Julius Sans One', sans-serif;
}
input {
  background-color: white;
  font-size: 1.2rem;
  padding: 4px;
  border-radius: 8px;
  border: none;
}
.login-box {
  max-width: 500px;
}
button {
  background-color: var(--base-color);
}
button:hover {
  background-color: var(--secundary-color);
}
