<div class="flex flex-col h-fit sm:h-[90%] bg-white rounded-lg shadow-md overflow-hidden">
  
  <div class="flex items-center justify-between border-b p-0.5 pr-5 border-gray-200">
    <span class="flex items-center p-4">
      <i class="bi bi-calendar-heart text-3xl text-pink-500"></i>
      <h1 class="text-2xl font-bold text-gray-700 ml-3 mt-2">Agenda de Atendimentos</h1>
    </span>
    <button id="btn" class="flex items-center justify-center gap-2 text-white font-semibold p-2 rounded-lg transition-colors shadow-sm" (click)="abrirModalParaNovoPadrao()">
        <i class="bi bi-plus-circle-fill"></i>
        <span>Novo Agendamento</span>
      </button>
  </div>

  <div class="calendario-container flex-1 min-h-0 p-2 sm:p-4">
    <full-calendar #meuCalendario [options]="calendarOptions" class="w-full h-full"></full-calendar>
  </div>

</div>
<div *ngIf="isModalVisible" 
     class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 transition-opacity duration-300"
     (click)="fecharModal()">
  
  <div (click)="$event.stopPropagation()" 
       class="bg-gray-100 rounded-lg shadow-xl w-full max-w-2xl m-4 animate-fade-in-up">
    
    <app-form-agendamento
      [agendamentoParaEditar]="agendamentoSelecionado"
      [listaClientes]="listaClientes"
      [listaServicos]="listaServicos"
      [listaFuncionarias]="listaFuncionarias"
      (save)="salvarAgendamento($event)"
      (close)="fecharModal()"
      (delete)="deletarAgendamento($event)"
    ></app-form-agendamento>

  </div>
</div>
<div *ngIf="isModalDetalhesVisible" (click)="fecharTodosModais()" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 transition-opacity duration-300">
  <div (click)="$event.stopPropagation()" class="bg-gray-100 rounded-lg shadow-xl w-full max-w-2xl m-4 animate-fade-in-up">
    <app-detalhe-agendamento
      [agendamento]="agendamentoSelecionado"
      [cliente]="clienteSelecionado"
      [servico]="servicoSelecionado"
      [funcionaria]="funcionariaSelecionada"
      (close)="fecharTodosModais()"
      (edit)="onTriggerEdit()"
      (delete)="onTriggerDelete()"
      (complete)="onTriggerComplete()">
    </app-detalhe-agendamento>
  </div>
</div>