/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --base-color: #9b3e7a;
  --secundary-color: #5f254b;
}

#btn {
  background-color: var(--base-color);
}
#btn:hover {
  background-color: var(--secundary-color);
}
